# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# macOS desktop services store
.DS_Store

# the personal path to the corresponding PSF dropbox /X Drive/1_PROJECTS repo 
wd_X_Drive1_PROJECTS.txt

# The input files that we do not push to github for now
data-input/

# https://stackoverflow.com/questions/1470572/ignoring-any-bin-directory-on-a-git-project 
# Any folders called ignore will be ignored, regardless of where they are
ignore/

# Any folders called archive will be ignored, regardless of where they are
archive/
intermediate/

# Any fodlers called figures will be ignored
figures/


#biological-status/data/
biological-status/Bayes_SR_model.txt

biological-status/figures/
biological-status/output_OLD/

hatchery-releases/data/

spawner-surveys/data
spawner-surveys/references







